<div class="wholeBody">
<h1>Movies</h1>

<p>Name: {{title}}</p>
<p>Year: {{year}}</p>
<p>Director: {{director}}</p>
<p>Actors: {{actors}}</p>
<p>Genre: {{genre}}</p>
<p>Awards: {{awards}}</p>
<p>IMBD Raiting: {{imbdRaiting}}</p>
<img src="{{poster}}" alt="">

</div>